<!DOCTYPE html>
<html ng-app="overwatch">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="application/javascript" src="js/data.js"></script>
    <script type="application/javascript" src="js/logic.js"></script>
    <link href=css/style.css type="text/css" rel="stylesheet">
    <link href="css/balloon.css" type="text/css" rel="stylesheet">
    <title>Overwatch Team Generator</title>
</head>

<body>
    <div id="iconContainer">
        <div id="headerContainer">
            <h1 id="Header">Overwatch Team Generator</h1>
        </div>
        <div id="SubContainer">
            <h5 id="Subheader">Enter your enemy team comp and the map</h5>
            <div ng-controller="HeroIcons as hero">
                <img class="heroIcon" ng-repeat="hero in hero.heroes" enemy="{{hero.name}}" ng-src=images/CharacterIcons/{{hero.name}}.png onclick="enemyIconClicked(this)">
            </div>
            <div id="maps" ng-controller="MapIcons">
                <div class="MapContainer" ng-repeat="map in maps">
                    <img class="mapIcon" id={{map.name}} ng-src=images/Maps/{{map.name}}.jpg map={{map.name}} onclick="mapClicked(this)">
                    <p>{{map.name}}</p>
                </div>
                <div id="checkboxContainer">
                    <form id="metaContainer">
                        <label class="metaLabel">Select a meta:
                            <select id="metaDropdown" onchange="determineTeamCounters()">
                                <option value="NoMeta">No Meta</option>
                                <option value="TwoTwoTwoMeta">Tank, Healer, Offense</option>
                                <option value="TankMeta">Tank Support</option>
                            </select>
                        </label>
                    </form>
                    <div id="AttackDefenseSelect">
                        <div class="inputContainer">
                            <form id="ADForm">
                                <label class="attackDefenseLabel">Attack
                                    <input id="attack" onchange="determineTeamCounters()" type="radio" name="attackDefense" value="attack" checked>
                                </label>
                                <label class="attackDefenseLabel">Defense
                                    <input id="defense" onchange="determineTeamCounters()" type="radio" name="attackDefense" value="defense">
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="teamLabel">Enemy Team (click to remove):</h4>
            <div id="enemyTeamList">
                <div ng-repeat="i in [1,2,3,4,5,6]" id="{{'enemyTeam' + i}}" hero="" class="enemyTeamIcon empty" src="" onclick="removeEnemy(this)"></div>
            </div>
            <h4 class="teamLabel">Recommend Team:</h4>
            <div id="recommendTeamList">
                <div ng-repeat="i in [1,2,3,4,5,6]" type="button" id="{{ 'recommendTeam' + i }}" data-balloon="" data-balloon-pos="top" hero="" class="recommendedTeamIcon empty" src=""></div>
            </div>
            <div id="footer">
                <p>Hero weakness data and icons from <a href="http://overwatch.gamepedia.com/">Overwatch Gamepedia</a> | Map data from <a href="http://overwatch.metabomb.net/gameplay-guides/overwatch-map-guides">Metabomb</a>
                    <br> An unofficial fan project built with <span id="heart">&hearts;</span> by <a href="https://andrewkar.ch/">Andrew Karch</a></p>
            </div>
        </div>
    </div>
</body>

</html>
